[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = http://www.github.com/bling/vim-airline
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session
